<%= form_with(model: support, local: true) do |form| %>
  <% if support.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(support.errors.count, "error") %> prohibited this support from being saved:</h2>

      <ul>
      <% support.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-4">
  <%= form.text_field :name, {:class => 'form-control form-control-lg', :placeholder => "Nom du support", :required => true }  %>
  </div>

  <div class="form-group">
  <%= form.text_field :subtitle, {:class => 'form-control form-control-lg', :placeholder => "Streamer, site d'actualités, ...", :required => true } %>
  </div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text">Lien du site</label>
  </div>
  <%= form.text_field :link, {:class => 'form-control form-control-lg', :placeholder => "URL du site", :required => true } %>
  </div>

  <div class="input-group mb-4">
  <div class="input-group-prepend">
    <label class="input-group-text">Logo</label>
  </div>
  <%= form.text_field :logo, {:class => 'form-control form-control-lg', :placeholder => "URL du logo", :required => true } %>
  </div>

  <%= form.submit 'Enregistrer', :class => 'btn btn-primary hand btn-lg btn-block mb-3' %>
<% end %>
